<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new user just signed up!</h1>
    <p>Email them right now and/or arrange a time to speak with them on the phone</p>
   <p>Hotel => <%= @user.hotel %> </p>
   <p>Name => <%= @user.name %> </p>
   <p>Email => <%= @user.email %> </p>
   <p>Phone => <%= @user.phone %>  </p>
    <p>Have a great day Zach!</p>
  </body>
</html>