<div class="header">
	<div class="wrapper">
		<div class="logo"></div>
		<div class="login"><span>Login</span></div>
		<ul class="menu">
			<li>About</li>
			<li>Pricing</li>
		</ul>
	</div>
</div>

<div class="main">
	<div class="wrapper">
		<h1 class="title">Grow your hotel business with good reviews</h1>
		<div class="right-box">
			<div class="text">Prevent bad online reviews before they happen, recieve more good reviews, and move up the rankings on Trip Advisor</div>
			<div class="reviews"></div>
			<div class="signup"><span>Start Free Trial Now</span></div>
		</div>
		<div class="bottom-box">
			<div class="learn-more">
				<div class="text">Learn More</div>
			</div>
		</div>
	</div>
</div>

<div class="data">
	<div class="wrapper">
		<div class="title"><h2>Good Reviews Drive Business</h2></div>
		<div class="one-third">
			<h3>Increase Customers</h3>
			<p class="number">+25%</p>
			<p class="description">Sites with reviews collect 25% more inbound leads</p>
		</div>
		<div class="one-third">
			<h3>Increase Revenue</h3>
			<p class="number">75%</p>
			<p class="description">Sites with reviews collect 25% more inbound leads</p>
		</div>
		<div class="one-third">
			<h3>Increase Word of Mouth</h3>
			<p class="number">X12</p>
			<p class="description">Sites with reviews collect 25% more inbound leads</p>
		</div>
		<div class="graph"></div>
	</div>
</div>

<div class="features">
	<div class="wrapper">
		<div class="title"><h2>The impact on your business is huge.</h2></div>
		<div class="one-third">
			<div class="icon"></div>
			<h3>Squash Bad Reviews</h3>
			<p class="description">Lorem ipsum dolor sit amet, consect adipisin elit. Mauris euismod, sapien ac bibendum mollis, nisi dui tempus turpis, non aliquam augue massa quis nunc. Aenean vitae est erat. </p>
		</div>
		<div class="one-third">
			<div class="icon"></div>
			<h3>Important Feedback</h3>
			<p class="description">Lorem ipsum dolor sit amet, consect adipisin elit. Mauris euismod, sapien ac bibendum mollis, nisi dui tempus turpis, non aliquam augue massa quis nunc. Aenean vitae est erat. </p>
		</div>
		<div class="one-third">
			<div class="icon"></div>
			<h3>Automated</h3>
			<p class="description">Lorem ipsum dolor sit amet, consect adipisin elit. Mauris euismod, sapien ac bibendum mollis, nisi dui tempus turpis, non aliquam augue massa quis nunc. Aenean vitae est erat. </p>
		</div>
	</div>
</div>

<div class="how-works">
	<div class="wrapper">
		<div class="title"><h2>Lightweight Affordable Reputation Management</h2></div>
		<div class="diagram"></div>
		<div class="list">
			<div class="list-item one">
				<div class="number"><span>1</span></div>
				<p class="description">Easily import your current customers by
excel and manually. We also offer custom
solutions to integrate with existing 
software.</p>
			</div>
			<div class="list-item two">
				<div class="number"><span>2</span></div>
				<p class="description">Customers automatically recieve thank you
email and survey after their stay. You can 
view survey results and feedback in realtime.
You can also send emails at other custom
time intervals.</p>
			</div>
			<div class="list-item three">
				<div class="number"><span>3</span></div>
				<p class="description">Positive reviews are succesfully captured 
review sites, you will begin to move up 
the rankings get more customers and increase
revenue, you will also recieve actionable reports
to continuosly improve your service.</p>
			</div>
			<div class="list-item four">
				<div class="number"><span>4</span></div>
				<p class="description">Good survey results are automatically 
followed up with a suggestions to share
their feedback on reviews sites of your 
choice. Bad feedback is alerted to you 
so you can handle the situation and respond
to the customer personally to solve the 
problem.</p>
			</div>
		</div>
	</div>
</div>

<div class="action-call">
	<div class="wrapper">
		<div class="title"><h2>Start building a 5 star reputation in only a few minutes a day.</h2></div>
		<div class="signup"><span>Start Now</span></div>
	</div>
</div>

<div class="footer">
	<div class="wrapper">
		<div class="top-half">
			<div class="menu">
				<ul>
					<li>Company</li>
					<li>Press</li>
					<li>Contact Us</li>
					<li>Privacy Policy</li>
					<li>Terms of Use</li>
				</ul>
			</div>
			<div class="social"></div>
		</div>
		<div class="bottom-half">
			<p class="question">Questions? Email hello@simplereview.com</p>
			<p class="copyright">Copyright 2013 SimpleReview Inc.</p>
		</div>
	</div>
</div>