* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.body { 
	background-color: #f3f3f3;
	color: #4a4a4a;
}

p {
	font-size: 60px;
}

h1{}

h2{}

h3{}

a{}

@mixin button($width) {
	height: 20px;
	width: $width;
	color: #fff;
	background-color: #25a6e9;
	padding: 10px 0;
	$br: 3px;
	-webkit-border-radius: $br; 
 	-moz-border-radius: $br; 
  	border-radius: $br; 
  	border-bottom: 7px solid #198ecb;
  	text-align: center;
  	font-weight: 300;
	font-size: 15px;
	text-transform: uppercase;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}


.header {
	background-color: #f3f3f3;
	height: 85px;

	.logo {
		height: 45px;
		width: 270px;
		float: left;
		margin-top: 20px;
		background-color: #000;
	}

	.menu {
		float: right;
		height: 25px;
		width: 170px;
		margin-top: 30px;

		li {
			font-size: 18pt;
			color: 585858;
			float: left;
			list-style-type: none;
			padding-right: 20px;
		}
	}

	.login {
		float: right;
		margin: 20px 0 0 30px;
		@include button(110px);
	}
}

.main {
	background-color: blue;
	height: 635px;
	padding-top: 60px;
	position: relative;

	h1 {
		font-size: 46px;
		color: #fff; 
		text-shadow: 2px 2px #ff0000;
		text-align: center;
	}

	.right-box {
		width: 40%;
		float: right;
		height: 100%;
		padding-top: 95px;


		.text {
			color: #fff;
			font-size: 19px;
			text-align: center;
			text-shadow: 1px 1px #ff0000;
		}
	
		.reviews {
			height: 150px;
			width: 420px;
			background-color: #FFF;
			margin-top: 20px;
		}
	
		.signup {
			@include button(330px);
			margin: 30px auto 0 auto;
		}
	}

	.bottom-box {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 51px;

		.learn-more {
			width: 270px;
			height: 20px;
			background-color: #000;
			$br: 3px;
			-webkit-border-radius: $br $br 0 0; 
 			-moz-border-radius: $br $br 0 0; 
  			border-radius: $br $br 0 0; 
  			margin: 0 auto;
  			padding: 15px 0;
  			background-color: rgba(41, 43, 51, 0.4);
  		}

  		.text {
  			color: #fff;
  			text-transform: uppercase;
  			font-size: 18px;
  			text-align: center;
  		}

	}

}

.data {
	background-color: #f3f3f3;
	height: 695px;
	color: #4a4a4a;
	text-align: center;
	position: relative;

	.title {
		font-size: 42px;
		padding-bottom: 45px;
		padding-top: 75px;
		border-bottom: 1px solid #c4c4c4;
		width: 100%;
	}

	.one-third {
		width: 33%;
		float: left;
		padding-top: 100px;

		h3 {
			font-size: 26px;
		}

		p.number {
			font-size: 90px;
		}

		p.description {
			font-size: 17px;
			padding: 0 10px;
		}
	}

	.graph {
		height: 120px;
		width: 100%;
		background-color: #fafafa;
		position: absolute;
		bottom: 0;
		left: 0;

		img {
			width: 1000px;
			height: 120px;
			margin: 0 auto;
		}
	}
}

.features {
	background-color: blue;
	height: 705px;
	color: #fff;
	text-align: center;

	.title {
		font-size: 42px;
		padding-top: 90px;
	}

	.one-third {
		width: 33%;
		float: left;
		padding-top: 60px;

		.icon {
			height: 165px;
			width: 165px;
			background-color: #FFF;
			margin: 0 auto;
		}

		h3 {
			padding-top: 25px;
			font-size: 26px;
		}

		p.description {
			font-size: 17px;
			padding: 10px 10px;
		}
	}
}

.how-works{
	background-color: #f3f3f3;
	height: 1115px;

	.title {
		font-size: 42px;
		padding-bottom: 40px;
		padding-top: 60px;
		border-bottom: 1px solid #c4c4c4;
		width: 100%;
		text-align: center;
		color: #4a4a4a;
		margin-bottom: 75px;
	}

	.diagram {
		width: 550px;
		height: 790px;
		float: left;
		display: block;
		background-color: red;
	}

	.list {
		width: 45%;
		height: 100%;
		float: left;

		.list-item {
			margin: 30px 0;
			line-height: 24px;
			width: 100%;
			float: left;

			.number {
				padding: 20px 20px;
				width: 20px;
				height: 20px;
				background-color: #528cc9;
				$br: 30px;
				-webkit-border-radius: $br; 
 				-moz-border-radius: $br; 
  				border-radius: $br;
  				float: left;

  				span {
  					color: #fff;
  					font-size: 40px;
  					font-weight: 500;
  				}

			}
			.description{
				font-size: 17px;
				color: #4a4a4a;
				float: left;
				width: 389px;
			}
		}
	}

}

.action-call {
	background-color: grey; 
	height: 275px;

	.title {
		font-size: 35px;
		color: #fff;
		text-align: center;
		padding-top: 70px;
	}

	.signup {
		height: 20px;
		width: 285px;
		color: #fff;
		background-color: #f6871f;
		padding: 10px 0;
		$br: 3px;
		-webkit-border-radius: $br; 
 		-moz-border-radius: $br; 
  		border-radius: $br; 
  		border-bottom: 7px solid #d9761a;
  		text-align: center;
  		font-weight: 300;
		font-size: 15px;
		text-transform: uppercase;
		margin: 35px auto 0 auto;
	}
}

.footer {
	background-color: #535a68;
	height: 270px;
	color: #9da4b9;

	.top-half {
		width: 100%;
		margin-top: 140px;
		padding-bottom: 30px;
		float: left;
		border-bottom: 1px solid #949aae;

		ul {
			li {
				float: left;
				list-style-type: none;
				padding-right: 20px;
				font-size: 18px;
			}

		}
	}

	.bottom-half {
		width: 100%;
		float: left;
		padding-top: 30px;

		p {
			font-size: 18px;
		}

		p.copyright {
			float: right;
		}

		p.question {
			float: left;
		}
	}
}