* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body { 
	background-color: #f3f3f3;
	color: #4a4a4a;
	font-family: "proxima-nova";
	-webkit-font-smoothing: antialiased;
}


h1{}

h2{}

h3{}

a{}

#typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@mixin button($width) {
	height: 23px;
	width: $width;
	color: #fff;
	background-color: #25a6e9;
	padding: 13px 0 10px 0;
	$br: 3px;
	-webkit-border-radius: $br; 
 	-moz-border-radius: $br; 
  	border-radius: $br; 
  	border-bottom: 6px solid #198ecb;
  	text-align: center;
  	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: .03em;
	text-shadow: 1px 1px rgba(41, 43, 51, 0.2);
	cursor: pointer;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}


.header {
	background-color: #f3f3f3;
	height: 60px;
	overflow: hidden;


	.logo {
		height: 45px;
		width: 270px;
		float: left;
		margin-top: 14px;
	}

	.menu {
		float: right;
		height: 100%;
		width: 180px;
		

		:hover {
			background-color: #e9e9e9;
		}

		li {
			font-size: 17px;
			color: #585858;
			float: left;
			list-style-type: none;
			cursor: pointer;
			height: 30px;
			padding: 20px 19px 17px 19px;
		}
	}

	.button {
		:hover {
			background-color: lighten(#25a6e9, 5%);
			border-bottom: 4px solid lighten(#198ecb, 2%);
		}
		:active {
			margin-top: 15px;
			border-bottom: 1px solid lighten(#198ecb, 2%);
		}
	}

	.login {
		float: right;
		margin: 12px 0 0 0;
		height: 20px;
		width: 100px;
		color: #fff;
		background-color: #25a6e9;
		padding: 7px 0 4px 0;
		$br: 3px;
		-webkit-border-radius: $br; 
 		-moz-border-radius: $br; 
  		border-radius: $br; 
  		border-bottom: 4px solid #198ecb;
  		text-align: center;
  		font-weight: 600;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: .03em;
		text-shadow: 1px 1px rgba(41, 43, 51, 0.2);
		cursor: pointer;
	}
}

.main {
	height: 566px;
	padding-top: 43px;
	position: relative;
	background: image-url("cover-top.png") no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;


	h1 {
		font-size: 46px;
		color: #fff; 
		text-shadow: 2px 2px rgba(41, 43, 51, 0.4);
		text-align: center;
		font-weight: 500;
	}

	.right-box {
		width: 40%;
		float: right;
		height: 100%;
		padding-top: 55px;
		padding-right: 55px;


		.text {
			color: #fff;
			font-size: 19px;
			text-align: center;
			text-shadow: 1px 1px rgba(41, 43, 51, 0.3);
		}
	
		.reviews {
			height: 150px;
			width: 420px;
			margin-top: 39px;
		}

		.button {
			:hover {
				background-color: lighten(#25a6e9, 5%);
				border-bottom: 6px solid lighten(#198ecb, 2%);
			}

			:active {
				margin-top: 34px;
				border-bottom: 2px solid lighten(#198ecb, 2%);
			}
		}
	
		.signup {
			@include button(330px);
			margin: 30px auto 0 auto;
		}
	}

	.bottom-box {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 51px;

		.learn-more {
			width: 194px;
			height: 20px;
			background-color: #000;
			$br: 12px;
			-webkit-border-radius: $br $br 0 0; 
 			-moz-border-radius: $br $br 0 0; 
  			border-radius: $br $br 0 0; 
  			margin: 0 auto;
  			padding: 15px 35px;
  			background-color: rgba(41, 43, 51, 0.6);
  			letter-spacing: .03em;
  			cursor: pointer;

  			.arrow {
  				background: image-url("down-arrow.png") no-repeat center center; 
  				height: 13px;
  				width: 9px;
  				float: left;
  				padding: 8px 15px 0 15px;
  				// margin-top: 3px;
  			}

  			.text {
  				float: left;
  			}
  		}

  		.text {
  			color: #fff;
  			text-transform: uppercase;
  			font-size: 16px;
  			text-align: center;
  		}

	}

}

.data {
	background-color: #f3f3f3;
	height: 695px;
	color: #4a4a4a;
	text-align: center;
	position: relative;

	.title {
		font-size: 42px;
		padding-bottom: 45px;
		padding-top: 75px;
		border-bottom: 1px solid #c4c4c4;
		width: 100%;
		font-weight: 300;
	}

	.one-third {
		width: 33%;
		float: left;
		padding-top: 100px;

		h3 {
			font-size: 26px;
			font-weight: 500;
		}

		p.number {
			font-size: 100px;
			font-weight: bold;
		}

		p.description {
			font-size: 17px;
			padding: 0 10px;
			font-weight: 300;
		}
	}

	.graph {
		background: image-url("graph.png") no-repeat center center; 
		height: 114px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;

		img {
			width: 1000px;
			height: 120px;
			margin: 0 auto;
		}
	}
}

.features {
	background: image-url("cover-features.png") no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 705px;
	color: #fff;
	text-align: center;


	.title {
		font-size: 42px;
		padding-top: 90px;
		font-weight: 300;
		text-shadow: 1px 1px rgba(41, 43, 51, 0.2);
	}

	.one  {
		padding-right: 60px;
		img {
			margin-top: 41px;
		}
	}

	.two {
		padding: 0 30px;
		img {
			margin-top: 53px;
		}
	}

	.three {
		padding-left: 60px;
		img {
			margin-top: 34px;
		}
	}

	.one-third {
		width: 27%;
		float: left;
		padding-top: 80px;

		.icon {
			height: 166px;
			width: 166px;
			background-color: rgba(60, 109, 159, 0.6);;
			margin: 0 auto;
			$br: 83px;
			-webkit-border-radius: $br; 
 			-moz-border-radius: $br; 
  			border-radius: $br; 
		}

		h3 {
			padding-top: 30px;
			font-size: 26px;
		}

		p.description {
			font-size: 17px;
			padding-top: 20px;
			font-weight: 300;
			line-height: 22px;
		}
	}
}

.how-works{
	background-color: #f3f3f3;
	height: 1462px;

	.title {
		font-size: 42px;
		padding-top: 60px;
		width: 100%;
		text-align: center;
		color: #4a4a4a;
		font-weight: 300;
	}

	.sub-title {
		font-size: 21px;
		padding-bottom: 40px;
		padding-top: 12px;
		border-bottom: 1px solid #c4c4c4;
		width: 100%;
		text-align: center;
		color: #4a4a4a;
		margin-bottom: 25px;
		font-weight: 300;
	}

		.two {
			background-color: darken(#f3f3f3, 2%);
			border-bottom: 1px solid darken(#f3f3f3, 4%);
			border-top: 1px solid darken(#f3f3f3, 4%);
		}

	.feature-item {
		line-height: 24px;
		height: 200px;
		padding: 100px 0;
		width: 100%;
		float: left;

		.number {
			padding: 20px 20px;
			background: image-url("circle.png") no-repeat center center; 
			width: 25px;
			height: 25px;
			$br: 30px;
			-webkit-border-radius: $br; 
 			-moz-border-radius: $br; 
 			border-radius: $br;
 			float: left;

 			span {
 				color: #fff;
 				font-size: 40px;
 				font-weight: 500;
 			}

		}

		img {
			float: right;
		}

		.description{
			font-size: 17px;
			color: #4a4a4a;
			float: left;
			width: 390px;
			font-weight: 300;
			padding-left: 40px;
			line-height: 25px;

			p {
				text-indent: 20px;
			}

			h5 {
				font-size: 18px;
				font-weight: 600;
				padding-bottom: 20px;
			}
		}
		
	}

}

.action-call {
	height: 275px;
	background: image-url("cover-action-call.png") no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	.title {
		font-size: 35px;
		color: #fff;
		text-align: center;
		padding-top: 77px;
		font-weight: 500;
		text-shadow: 2px 2px rgba(41, 43, 51, 0.4);
	}

	.button {
		:hover {
			background-color: lighten(#f6871f, 2%);
			border-bottom: 6px solid lighten(#d9761a, 1%);
		}
		:active {
			margin-top: 39px;
			border-bottom: 2px solid lighten(#d9761a, 1%);
		}
	}

	.signup {
		height: 20px;
		width: 285px;
		color: #fff;
		background-color: #f6871f;
		padding: 13px 0 10px 0;
		$br: 3px;
		-webkit-border-radius: $br; 
 		-moz-border-radius: $br; 
  		border-radius: $br; 
  		border-bottom: 6px solid #d9761a;
  		text-align: center;
		font-weight: 600;
		font-size: 16px;
		letter-spacing: .03em;
		text-transform: uppercase;
		margin: 35px auto 0 auto;
		text-shadow: 1px 1px rgba(41, 43, 51, 0.2);
		cursor: pointer;
	}
}

.footer {
	background-color: #535a68;
	height: 230px;
	color: #9da4b9;

	.top-half {
		width: 100%;
		margin-top: 100px;
		padding-bottom: 30px;
		float: left;
		border-bottom: 1px solid #949aae;

		ul {

			li {
				float: left;
				list-style-type: none;
				margin-right: 30px;
				font-size: 16px;
				cursor: pointer;
				padding-bottom: 4px;
			}

			:hover {
				border-bottom: 1px solid #9da4b9;
				padding-bottom: 3px;
			}

		}
	}

	.bottom-half {
		width: 100%;
		float: left;
		padding-top: 30px;

		p {
			font-size: 16px;
		}

		p.copyright {
			float: right;
		}

		p.question {
			float: left;
		}
	}
}